<div class="card-trip">
  <%= cl_image_tag statue.photo, height: 300, width: 400, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to statue.name.capitalize, statue_path(statue.id)  %></h2>
      <p><%= statue.description.capitalize %></p>
      <h2 class="card-trip-pricing" style="font-size: 16px; color:mediumaquamarine">Louez la pour <%= statue.price %> € / jour</h2>

    </div>
    <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
    <%= button_to "Détails", statue_path(statue.id), :class => "btn-details", :method => :get %>
  </div>
</div>
