<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo.png' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= simple_form_for :search, url: statues_path, method: :get do |f| %>
          <div class="search-form-control form-group">
            <%= search_field_tag :search, params[:search], placeholder: "Que cherchez vous ? Ville, style...", class: "form-control" %>
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i> Greet Me!
            </button>
          </div>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "http://www.01humours.com/image/enfants/46.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right pl-2" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "Profil", profil_path(current_user), class: "dropdown-item" %>
            <%= link_to'Déconnexion', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <%= link_to'Connexion', new_user_session_path %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
