
<div class="container">
  <div class="row d-flex">
    <div class="show-card min-vw-40 flex-grow-1 mr-3">
      <ul>
        <li>
          <h1><i class="fas fa-star"></i><%= @statue.name.upcase %></h1>
          <h3><%= @statue.category %></h3>
          <em><%= @statue.description.capitalize %></em>
          <h2><%= @statue.price.to_s + " €/J"%></h2><br>
          <%= cl_image_tag @statue.photo, :class => "show_img", height: 300, width: 400, crop: :fill %>
          <%= '- Localisation :' + ' ' + @statue.location %><br>
          <%= '- Matière :' + ' ' + @statue.material %><br>
          <%= '- Hauteur :' + ' ' + @statue.height.to_s + ' cm' %><br>
          <%= '- Longueur :' + ' ' + @statue.length.to_s + ' cm' %><br>
          <%= '- Surface à prévoir :' + ' ' + @statue.surface.to_s + ' cm2' %><br>
        </li>
      </ul>
      <div><i class="fas fa-heart"></i><%= link_to " JE VEUX LA LOUER !", new_statue_rental_path(@statue),
                      :class => "btn-reservation" %>
      </div><br>
      <div><%= link_to "Retour", statues_path,
                      :class => "btn-show-options" %>
            <%= link_to "Éditer", edit_statue_path(@statue),
                      :class => "btn-show-edit" %>
            <%= link_to "Supprimer", statue_path(@statue),
                      :class => "btn-show-delete",
                      :data => {:confirm => "ATTENTION, vous allez supprimer toutes les données de votre statue. Êtes-vous sûr(e) ?",
                               :method => "delete"} %>
      </div>
      </div>

      <div class="show-card col-xs-12 col-lg-6">
        <div class="title">Découvrez où se cache cette statue :</div>
        <%= render 'components/map', markers: @markers %>
    </div>
  </div>
</div>


