<div class="container">
  <div class="row d-flex">
      <div class="show-card min-vw-40 flex-grow-1 mr-3">
        <ul>
          <li>
            <h1><i class="fas fa-star"></i><%= @statue.name.upcase %></h1>
            <h3><%= @statue.category %></h3>
            <h2><%= @statue.price.to_s + " €/J"%></h2><br>
            <%= cl_image_tag @statue.photo, :class => "show_img", height: 300, width: 400, crop: :fill %>
            <%= '- ' + @statue.description.capitalize %><br>
            <%= '- Localisation :' + ' ' + @statue.location %><br>
            <%= '- Matériaux :' + ' ' + @statue.material %>
            </li>
        </ul>
      </div>
      <div class="show-card col-xs-12 col-lg-6">
        <div class="title">Découvrez où se cache cette statue :</div>
        <%= render 'components/map', markers: @markers %>
      </div>
  </div>
</div>
<div>
  <%= link_to "Retour", statues_path,
                      :class => "btn btn-primary" %>
  <%= link_to "Supprimer", statue_path(@statue),
                      :class => "btn btn-warning",
                      :data => {:confirm => "ATTENTION, vous allez supprimer toutes les données de votre statue. Êtes-vous sûr(e) ?",
                               :method => "delete"} %>
</div>

