
<div id="new_rental" data-rentals="<%= @rentals_dates.to_json %>"
></div>

  <%= simple_form_for [@statue, @rental] do |f| %>
    <%= f.input :start_date, label: 'Début de location', as: :string, required: false, input_html: {id: "range_start"} %>
    <%= f.input :end_date, label: 'Fin de location',   as: :string, required: false, input_html: {id: "range_end"} %>
    <%= f.input :description, label: 'Contacter le propriétaire' %>

    <div id="total-price" class="price d-none">
      <p>Bookez le sur ces dates pour : <br>
      <span id = "result"></span><span>€</span>
      </p>
    </div>

<!--     <div id="total-price" class="price">
      <div >Hi there</div>
      <p>Bookez le sur ces dates pour : <br>
      <span id = "result"></span><span>€</span>
      </p>
    </div> -->

    <%= f.submit 'Je réserve!', class: 'btn btn-primary' %>
    <%= link_to 'Accueil', root_path, class:'btn btn-outline-primary' %>
  <% end %>
