<div class="container">
  <div class="row d-flex">
    <div class="show-card col-lg-6 mr-3">
      <div class="title mb-2">
        Bookez <%= @statue.name %> avant <br>qu'il ne soit trop tard!
      </div>
      <%= render 'form-rental' %>
    </div>
    <div class="show-card col-xs-12">
      <div class="title mb-3"><%= @statue.name %> vous attend!</div>
      <div id="price" class='d.none' data-price="<%= @statue.price %>"></div>
      <%= cl_image_tag @statue.photo, class: 'show_img_rental' %>
    </div>
  </div>
</div>
